

.container{

max-width: 80%;
padding: 34px;
margin: auto;
background-color: #dff1f1;
}
.container h3,p{
    text-align: center;
}

input, textarea{
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
    font-size: 12px;
    border: 2px solid;
    border-radius: 6px;
    outline: none;
    display: block;

}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer{
    background-color: rgb(247, 225, 131);
}
